body
{
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #1f1f29;
	color: #fff;
	font-size: 12pt;
}

h1
{
	color: #fff;
}

a, a:hover, a:after, a:hover::after 
{
	color: #fff;
}

.container
{
	background-color: #1f1f29;
	padding: 20px;
}

.list-indent
{
	margin-top: -15px;
	margin-left: 20px;
}

.comment-date{
	color: rgb(203, 203, 226)
}

.comment-author{
	font-size: 15pt;
}