<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>Socket.IO with Sessions</title>
</head>
<body>
    <h1>Socket.IO with Session Authentication</h1>
    
    <div class="chat-logs">
        <li id="chat-log-entry">
            <!-- Chat log entries will go here -->
        </li>
    </div>

    <div>
        <h3>Add Message</h3>
        <!-- Simple input field and submit -->
        <label>Message:</label><br>
        <input type="text" name="chat_message" required>
        <button class="themed-button" id="send-chat-message" type="button">Send</button>
    </div>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        alert("BBBBBB");
        let socket = null;
        
        function setupSocketHandlers() {
            if (socket)
            {
                alert("Socket initialized");
                socket.on('newChatMessage', (data) => {
                    alert("MESSAGE!!!!!")
                    const chatLogEntry = document.getElementById('chat-log-entry');
                    const newEntry = document.createElement('ul');
                    newEntry.textContent = data.message;
                    chatLogEntry.appendChild(newEntry);
                });
            }
            else
            {
                alert('Socket.IO client is not initialized')
                console.error('Socket.IO client is not initialized.');
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            console.log('The DOM is fully loaded and parsed');
            socket = io('https://bogobit.org');
            alert("CCCCCC");
            setupSocketHandlers();
        });

        document.getElementById('send-chat-message').addEventListener('click', () => {
            alert("SENT MESSAGE");
            console.log('Sending chat message...');
            const message = document.querySelector('input[name="chat_message"]').value;
            socket.emit('getNewChatMessage', {
                message: message
            });
            console.log('Chat message sent:', message);
        });
    </script>
</body>
</html>
