<!DOCTYPE html>
<html>
<head>
    <title>Comments</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Comments</h1>
    {{> navbar}}

    <!-- If user is logged in, add comment form, else send to login -->
    {{#if user.isLoggedIn}}
        <form action="/comment/new" method="GET">
            <button type="submit">Add Comment</button>
        </form>
    {{else}}
        <form action="/login" method="GET">
            <button type="submit">Add Comment</button>
        </form>
    {{/if}}

    <!-- Display all comments in an unordered list -->
    <ul>
        {{#each comments}}
            <li>
                <strong>
                    Author: 
                </strong>
                <p> {{author}} </p>
                <strong>
                    Date:
                </strong>
                <p> {{createdAt}} </p>
                <br> {{comment}}
            </li>
        {{/each}}
    </ul>
    {{> footer}}
</body>
</html>


