<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Home</h1>
    {{> navbar}}

    <!-- Display online status of the user -->
    <h2>Welcome to Bogobit!</h2>
    <p>
        Welcome to the official Bogobit website. Feel free to chat in the Comments page or read more about my projects in the Documents section.
    </p>

    {{> footer}}
</body>
</html>
