<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bogobit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Login</h1>

    <!-- Input field for username and password, submit or go to register page -->
    <form method="POST" action="/api/auth/login">
        <p>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
            <button class="themed-button" type="submit">Login</button>
            <a href="/">Cancel</a>
        </p>
        <p>
            Don't have an account? 
            <a href="/api/auth/register">Sign up here</a>
        </p>
    </form>
</body>
</html>

