<!DOCTYPE html>
<html>
<head>
    <title>Bogobit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Documents</h1>
    {{> navbar}}
    <ul>
        <!-- Display each PDF document in a list -->
        {{#each pdfs}}
            <li>
                <strong>{{title}} ({{pdfName}})</strong><br>
                {{Description}}<br>
                <form class="themed-form" action="/pdfs/{{pdfName}}" method="GET">
                    <button class="themed-button" type="submit">View Document</button>
                </form><br>
            </li><br>
        {{/each}}
    </ul>
    {{> footer}}
</body>
</html>
