<!DOCTYPE html>
<html>
<head>
    <title>Bogobit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Your Profile</h1>
    {{> navbar}}

    <!-- Display online status of the user -->
    <h2> Profile Settings (<span style="color: #{{name_color}}">{{user.display_name}}</span>): </h2>
    <div class="profile-settings"> 
        {{#if error}}
            <p class="error-message">{{error}}</p>
        {{/if}}
        <form class="themed-form" action="/change-name-color" method="POST">
        <p>User color: {{user.name_color}}</p>
            <label for="name-color">Name Color:</label><br>
            <input type="text" id="name-color" name="name_color">
            <button class="themed-button" type="submit">Apply</button>
        </form><br>
        <form class="themed-form" action="/change-password" method="GET">
            <button class="themed-button" type="submit">Change Password</button>
        </form>
        <form class="themed-form" action="/change-email" method="GET">
            <button class="themed-button" type="submit">Change Email</button>
        </form>
        <form class="themed-form" action="/change-display" method="GET">
            <button class="themed-button" type="submit">Change Display Name</button>
        </form>
    </div>
    {{> footer}}
</body>
</html>