<!DOCTYPE html>
<html>
<head>
    <title>Bogobit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Home</h1>
    {{> navbar}}

    <!-- Display online status of the user -->
    <h2>{{user.display_name}}</h2>
    <div class="profile-settings">
        <p>
            <label for="name-color">Name Color:</label><br>
            <input type="text" name="name-color">
        </p>
        <form class="themed-form" action="/" method="GET">
            <button class="themed-button" type="submit">Change Password</button>
        </form>
        <form class="themed-form" action="/" method="GET">
            <button class="themed-button" type="submit">Change Email</button>
        </form>
        <form class="themed-form" action="/" method="GET">
            <button class="themed-button" type="submit">Change Display Name</button>
        </form>
    </div>
    {{> footer}}
</body>
</html>