<!DOCTYPE html>
<html>
<head>
    <title>Add Comment</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add Comment</h1>
    
    <!-- Simple input field and submit -->
    <form method="POST" action="/comment">
        <p>
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment" required>
        </p>
        <p>
            <button type="submit">Send</button>
            <a href="/">Cancel</a>
        </p>
    </form>
    
</body>
</html>
